<ion-header class="ion-no-border">
  <ion-toolbar class="custom-header">
    <ion-title>Gestor de contraseñas</ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="agregarClave()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="texto-informativo">El Gestor de contraseñas guarda los nombres de usuario y contraseña. Estos datos solo se almacenan en el dispositivo.</p>
  <app-buscar [(ngModel)]="palabra" (keyEvent)="buscar($event)"></app-buscar>
  <ion-list-header>
    <ion-label>Cuentas</ion-label>
  </ion-list-header>
  <ion-list>
    <ion-item *ngIf="lista.length === 0 && !buscando" lines="none">
      <ion-label>
        <ion-note>Aún no tienes contraseñas almacenadas.</ion-note>
      </ion-label>
    </ion-item>

    <ion-item lines="none" *ngIf="palabra.trim() !== '' && lista.length===0">
      <ion-label class="ion-text-wrap">
        <p>No se ha encontrado ninguna coincidencia para tu búsqueda.</p>
      </ion-label>
    </ion-item>

    <ion-item-sliding *ngFor="let item of lista">
      <ion-item button detail="false" (click)="editarClave(item)">
        <ion-icon aria-hidden="true" name="key-outline" slot="start"></ion-icon>
        <ion-label>
          <strong>{{item.sitio}}</strong>
          <ion-note>{{item.usuario}}</ion-note>
        </ion-label>
      </ion-item>
      
      <ion-item-options>
        <ion-item-option color="danger" (click)="eliminar(item)">Eliminar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
